/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Content/KiteDemo
/Content/InfinityBladeAdversaries
/Content/InfinityBladeGrassLands
/Content/InfinityBladeWarriors
/Content/StarterContent
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace